Source: su-exec
Section: utils
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/ncopa/su-exec
Vcs-Git: https://github.com/hnakmaur/su-exec-deb.git
Vcs-Browser: https://github.com/hnakmaur/su-exec-deb.git

Package: su-exec
Architecture: any
Description: switch user and group id, setgroups and exec.
 This is a simple tool that will simply execute a program with
 different privileges. The program will be exceuted directly
 and not run as a child, like su and sudo does, which avoids
 TTY and signal issues.
 .
 Notice that su-exec depends on being run by the root user,
 non-root users do not have permission to change uid/gid.
